@model SchoolSystem.ViewModels.StudentDeptViewModel

@{
    ViewData["Title"] = "Edit Student";
}

<h1>Edit</h1>

@* POST to SaveEdit/id *@
<form method="post" action="/Student/SaveEdit/@Model.Id">
    <div>
        <input type="hidden" name="Id" value="@Model.Id" />
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <br />
    <div>
        <label>Age</label>
        <input type="number" name="Age" value="@Model.Age" class="form-control" />
    </div>
    <br />
    <div>
        <label>Department</label>
        @* Dropdown *@
        <select name="DepartmentId" class="form-control">
            @foreach (var item in Model.Departments)
            {
                @if (Model.DepartmentId == item.Id)
                {
                    <option value="@item.Id" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
    </div>
    <br />
    <input type="submit" value="Save" class="btn btn-success" />
    <a href="/Student/Index" class="btn btn-secondary">Cancel</a>
</form>
